<div class="d-flex flex-row-reverse p-2 m-2">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="main-navbar">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="/">Inicio</span></a>
                    <a class="nav-item nav-link" href="/Donar">Donar</a>
                    <a class="nav-item nav-link" href="/Banco-de-sangre">Bancos de sangre</a>
                    <a class="nav-item nav-link" href="Ingresar">Ingresar</a>
                    <a class="nav-item nav-link" href="Registrarse">Registrarse</a>
                </div>
            </div>
        </nav>
    </div>